---
import "../styles/landing.css";

import Logo from "../assets/logo.png";

import website from "../../website.config.json";

import KnowledgeGraph from "../components/KnowledgeGraph.astro";
import Layout from "../components/Layout.astro";

import { Image } from "astro:assets";
---

<Layout
  page={{
    title: website.title,
    language: website.defaultLocale,
    seo: {
      description: website.description,
    },
  }}
>
  <div class="stars"></div>
  <div class="twinkling"></div>
  <div class="clouds"></div>
  <div class="absolute w-full h-full">
    <KnowledgeGraph />
  </div>
  <a href={`/${website.base}/welcome`}>
    <section
      class="perspective group absolute left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%]"
    >
      <Image
        src={Logo}
        alt=""
        class="mx-auto h-[33vh] w-auto transition-all group-hover:rotate-x-25"
      />
    </section>
  </a>
  <a href={`/${website.base}/welcome`}>
    <section
      class="absolute bottom-[20px] md:bottom-[100px] left-[50%] -translate-x-[50%] flex flex-col gap-3 md:gap-6 items-center transition-all group-hover:-rotate-x-25"
    >
      <h1
        class="text-6xl lg:text-8xl font-title bg-gradient-to-r from-obsidian-500 via-purple-400 to-pink-500 inline-block text-transparent bg-clip-text"
      >
        {website.title}
      </h1>
      <p class="text-xl lg:text-3xl text-balance text-center font-heading text-white">
        {website.description}
      </p>
    </section>
  </a>
</Layout>
